  body{
    margin: 0;
  }

  #container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 270px 270px 270px 270px;
    gap: 32px 24px;
    padding: 32px;
    background-color: lightsalmon;
  }
  
  #item1 {
    background-color: lightgreen;
  }
  
  #item2 {
    background-color: lightgrey;
  }
  
  #item3 {
    background-color: lightskyblue;
  }
  
  #item4 {
    background-color: lightyellow;
  }

  #item5 {
    background-color: lightyellow;
  }

  #item6 {
    background-color: lightyellow;
  }

@media only screen and (max-width:768px){

  #container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 195px 195px 195px 195px;
    gap: 32px 24px;
    padding: 32px;
    background-color: lightsalmon;
  }
  
  #item1 {
    background-color: lightgreen;
  }
  
  #item2 {
    background-color: lightgrey;
  }
  
  #item3 {
    background-color: lightskyblue;
  }
  
  #item4 {
    background-color: lightyellow;
  }

  #item5 {
    background-color: lightyellow;
  }

  #item6 {
    background-color: lightyellow;
  }
}

@media only screen and (max-width:360px){

  #container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 241px 241px 241px 241px;
    gap: 16px;
    padding: 16px;
    background-color: lightsalmon;
  }
  
  #item1 {
    background-color: lightgreen;
  }
  
  #item2 {
    background-color: lightgrey;
  }
  
  #item3 {
    background-color: lightskyblue;
  }
  
  #item4 {
    background-color: lightyellow;
  }

  #item5 {
    background-color: lightyellow;
  }

  #item6 {
    background-color: lightyellow;
  }
}

