body{
    background-color: black; 
    color: green;
}
ol{
    list-style-type: none;
}
th,td{
    border: 1px solid white;
}
#div1{
    background-color: chartreuse;
    position:absolute;
    top: 0px;
    left: 0px;
}
#div2{
    background-color: yellow;
}
#div3{
    background-color: blue;
    height: 3000px;
}
#div4{
    background-color: violet;
    height: 3000px;
    position: relative;
}
.borda{
    border: 1px solid black;
}